.index{
	background-image: url(w.jpg);
	
}

.s{
	font-size: 32px;
	text-align: center;
  transition: transform 1s linear;
}

.s:hover{
  transform: translateX(20%);
}

.p{
    
	float: right;
}

.p a{
	margin: 0 10px;
}

.wq{
	font-size: 100px;
	position: fixed;
	top: 23%;
	left: 9%;
}

@media screen and (max-width: 500px){
  .index{
    background: red;
  }
}

.rt {

	background-image: url(w.jpg);
 
}

.xx{
  text-align: center;
}

.container1 {
  top: 22%;
  left: 3%;
  position:fixed;
  display: grid;
  grid-template-columns: 278px 335px 279px;
  grid-template-rows: 253px 250px;
  grid-gap: 21px;
}

.e1 {
  background-color: #1EAAFC;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  border-radius: 30px;
  border: 5px solid #171717;
}
.e2 {
  background-image: url(u.png);
  background-size: 319px;
  background-color: #1EAAFC;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  border-radius: 30px;
  border: 9px solid #171717;
}
.e3 {
  background-color: #1EAAFC;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  border-radius: 30px;
  border: 5px solid #171717;
}

.e4 {
  align-items: center;
  background-color: #1EAAFC;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  border-radius: 30px;
  border: 5px solid #171717;
}
.e5 {
  align-items: center;
  background-color: #1EAAFC;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  border-radius: 30px;
  border: 5px solid #171717;
}
.e6 {
  align-items: center;
  background-color: #1EAAFC;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  border-radius: 30px;
  border: 5px solid #171717;
}

#menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 8px;
  
  z-index: 1;
  
  
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; 
  z-index: 2;
  
  
  
}

#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}


#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}


#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
  position: absolute;
  width: 83px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 104px;
  
  background: #9f53bf;
  list-style-type: none;
  
  
  transform-origin: 0% 0%;
  transform: translate(-130%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}




#menuToggle input:checked ~ div
{
  transform: none;
}
.qq{
	text-align: center;
}
.p{
	text-align: center;
}
.m{
	text-align: center;
}
.z{
	text-align: center;
}
.contact1{
	background-image: url(w.jpg);
  
}


.contact{
	
	width: 350px;
	top: 22%;
	left: 40%;
	position:fixed;
	font-size: 28px;
}
.input{
  display: block;
  width: 91%;
  padding: 12px;
  border: 1px solid white;
  border-radius: 4px;
}
.hi{
  font-size: 32px;
}


.ew{
  text-align: center;
}
.port{
	background-image: url(w.jpg);
;
  
}



.container {
	top: 22%;
	left: 23%;
	position:fixed;


  display: grid;
  grid-template-columns: 208px 211px 221px;
  grid-template-rows: 204px 235px;
  grid-gap: 1rem;
}



.item {
  background-color: #1EAAFC;
  background-image: linear-gradient(130deg, #6C52D9 0%, #1EAAFC 85%, #3EDFD7 100%);
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  color: #fff;
  border-radius: 2px;
  border: 3px solid #171717;
}
.site{
  width: 900px;
  height: 900px;
	background-image: url(w.jpg);


}
  .uju{
 font-size: 20px;
  position: absolute;
  top: 23%;
  left: 9%;
}
